.auctions {
    overflow: hidden;
    padding-bottom: 80px;
}

.auctions_img {
    position: relative;

    img {
     object-fit: cover;
    }
    div {
        position: absolute;
        bottom: 0;
        left: 0;
        background: linear-gradient(125.33deg, #8613A5 18.61%, rgba(250, 250, 250, 0.65) 137.4%);
        opacity: 0.95;
        box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.12);
        backdrop-filter: blur(22.5px);
        border-radius: 0px;
        padding: 15px 45px;
        font-weight: 600;
        font-size: 24px;
        line-height: 35px;
        letter-spacing: 0.02em;

    }
}

.auctions_item {
    background: #3D2942;
    padding: 32px;
}

.auctions_profile {
    display: flex;
    align-items: center;
    justify-content:space-between;
    margin: 28px 0;
}

.auctions-profile_guy {
    display: flex;
    align-items: center;

    img {
        display: block;
        border-radius: 50%;
        overflow: hidden;
        margin-right: 16px;


    }


}

.auctions-profile_owner {
    font-weight: 500;
    font-size: 28px;
    line-height: 35px;
}

.auctions-profile_nick {
    font-size: 20px;
    line-height: 35px;
    display: flex;
    align-items: center;
    color: #BDAAC1;
    margin-top: 5px;

}

.auctions-profile_likes {
    display: flex;
    align-items: center;
    img {
        width: 25px;
        transform: scale(4);
    }
    span {
        font-weight: 400;
        font-size: 32px;
        line-height: 35px;
        color: #76607A;
    }
}


.auctions_bid {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.auctions-bid_title{
    font-weight: 400;
    font-size: 24px;
    line-height: 35px;
   
}

.auctions-price {
    font-family: 'Oxanium';
    font-weight: 700;
    font-size: 24px;
    line-height: 35px;
    

}

.auctions_btn {
    display: block;
    background: rgba(233, 215, 167, 0.1);
    border: 1px solid #FDE8B3;
    padding: 21px 0;
    font-weight: 500;
    font-size: 24px;
    line-height: 35px;
    letter-spacing: 0.05em;
    color: $white2;
    width: 100%;
    margin-top: 40px;
}

.auctions_view-all {
    display: block;
    margin: 84px auto 0;
    padding: 24px 64px;
    border: 1px solid #FFCE4E;
    font-weight: 500;
    font-size: 30px;
    line-height: 35px;
    letter-spacing: 0.05em;

}