.companies_main {
    margin-top: 120px;
    display: flex;
    align-items: center;
    justify-content: space-around;

    img {
        width: 17%;
    }
}

.companies {
    margin-top: 250px 0 160px;
    padding-bottom: 80px;
    
}